#ff1 {
  font-family: 궁서체;
}
#ff2 {
  font-family: 고딕체;
}
#ff3 {
  font-family: Arial, Helvetica, sans-serif;
}
#ff4 {
  font-family: "Gugi", sans-serif;
}
#fw1 {
  font-weight: bold;
}
#fw2 {
  font-weight: 900; /*bolder*/
}
#fw3 {
  font-weight: 100; /*lighter*/
}

#fs1 {
  font-size: 30px; /*기본 크기 : 16px*/
}
#fs2 {
  font-size: 2em; /* 32px* -> 60px */
}
#fs3 {
  font-size: 2rem; /* 32px */
}
#fs4 {
  font-size: 200%; /* 32px */
}
#fs5 {
  font-style: italic;
}
#fs6 {
  font-style: oblique;
}
#fv {
  font-variant: small-caps;
}
/*
font: font-style font-variant font-weight
font-size/line-height font-family;
*/
#font1 {
  font: italic small-caps bold 32px/2 "gugi";
}
#font2 {
  font: 2rem "gugi";
}
#c-name {
  color: red;
}
#c-16 {
  color: #dd882e;
}
#c-rgb {
  color: rgb(68, 223, 78);
  color: rgba(68, 223, 78, 0.5);
}
#c-hsl {
  color: hsl(200, 50%, 50%);
  color: hsla(200, 50%, 50%, 0.2);
}

#td1 {
  text-decoration: underline;
}
#td2 {
  text-decoration: overline;
}
#td3 {
  text-decoration: line-through;
}
#td4 {
  text-decoration: none;
}
#tt1 {
    text-transform:  nope;
}
#tt1 {
    text text-transform: uppercase;
#tt2 {
    text-transform: lowercase;
}
#tt3 {
    text-transform: capitalize;
}
.shadow {
    font-size: 50px;
    font-weight: 900;
}
/*
text-shadow:bx dy blur color
- dx: 그림자의 가로방향 거리 지정 (오른쪽 : 양수, 왼쪼
- dy: 그림자의 세로 거리 지정 ( 기본값: 현재 글자색)
*/
#ts1 {
  color: white;
  text-shadow: ;
}
#ts3 {
    text-rendering: 0px 0px 4px gray,
    0px -5px 4px yellow
    0px - 10px 9px orange,
    0px -15px 15px orangered,
    opx -22px 20px red

}
#whs {
    border: 1px solid;
    width: 200px;
    white-space: normal;
}
{
white-space: nowrap;

/*pre : 여러 개의 공백을 그대로 표시,
영역을 넘어가는 내용은 줄바꾸지 않고 한줄로 표시 */
white-space: pre;

/* pre-line : 여러 개의 공백을 하나로 표시 */
white-space: pre-line;

/* pre-wrap : 여러 개의 공백을 그대로 표시 */
white-space: pre-wrap;
}

#ls {
    letter-spacing: 10px;
}
#ws {
    word-spacing: 20px;
}
#ta1 {
    text-align:  left;
}
#ta2 {
    text-align: right;
}
#ta3 {
    text-align: center;
}
#ta4 {
    text-align: justify;
}
1h {
    line-height:40px;
    line-height: 1.5;
}

text-overflow
-clip (기본값) : 영역을 넘어가는 텍스트를 자른다.
-ellipsis 마

#to {
    background: beige;
    withd: 500px;
    white-space: nowrap;
    
}
ul {
list-style: cirlce;
list-stlye= square;
list-style: none;

}